<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite parallel="tests" name="Suite1">
 <listeners>
    <listener class-name="com.example.TestComponents.Listeners"/>
</listeners>
    <!-- <groups>
        <run>
            <include name="PurchaseOrder"/>
        </run>
    </groups>   -->
    <test thread-count="5" name="DataTest">
        <classes>
            <class name="com.example.StandAloneTest2"/>
        </classes>
    </test>
   <test thread-count="5" name="ErrorValidationTest">
        <classes>
            <class name="com.example.ErrorValidtion"/>
        </classes>
    </test>
     <!-- <test name="EndToEnd">
        <classes>
            <class name="StandAloneTest1"/>
        </classes>
    </test> -->
</suite>